

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Task</a>
    <button>
      <a (click)="sr()" routerLinkActive="active">switch</a>
   </button>
   <button>
    <a (click)="tdr()" routerLinkActive="active">todo</a>
   </button>
   <button>
    <a (click)="frm()" routerLinkActive="active">form</a>
   </button>
   <button>
    <a (click)="lzy()" routerLinkActive="active">lazy check</a>
   </button>
   <button>
    <a (click)="lst()" routerLinkActive="active">listing mongodata</a>
   </button>
  </div>
</nav>

 

  
  
                    
               
 
<router-outlet></router-outlet>


  





  
